header {
  background-color: #4fd0d4;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
main {
  background-color: white;
}
/* Style the footer */
footer {
  background-color: #4fd0d4;
  padding: 10px;
  text-align: center;
}
.c1 {
  text-align: right;
  font-size: 20px;
}
ul {
  list-style-type: none;
}
.div0 {
  text-align: center;
  padding-right: 70px;
}
.div1 {
  text-align: center;
  padding-right: 70px;
}
.par1 p {
  text-align: left;
  font-style: italic;
}
h1 {
  color: blueviolet;
}
